@using YDev.Common.Models
@using YDev.Common.Helper
@using System
@using System.Globalization
@model List<Content> 
@{
    ViewData["Title"] = "Haberler & Bloglar";
}

<!-- Content Start -->
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row" style="float:right">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">Haberler <span>Bloglar</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="sectionWrapper">
        <div class="container">
            <div class="blog-thumbs no-bar">
                <div class="blog-posts">
                    @foreach (var blog in Model)
                    {
                        <div class="post-item fx" data-animate="fadeInLeft">
                            <div class="post-image">
                                <a href="blog-single.html">
                                    <div class="mask"></div>
                                    @if (blog.RecordDate != null || blog.RecordDate != DateTime.MinValue)
                                    {
                                        <div class="post-lft-info">
                                            <div class="main-bg">@blog.RecordDate.Day<br>@blog.RecordDate.ToString("MMMM", CultureInfo.GetCultureInfo("tr-TR"))<br>@blog.RecordDate.Year</div>
                                        </div>
                                    }

                                    <img width="300" height="177" src="@(string.IsNullOrEmpty(blog.CoverImage) ? "images/ihtiyac_640x426.jpg" : blog.CoverImage)" alt="@blog.Title">
                                </a>
                            </div>
                            <article class="post-content">
                                <div class="post-info-container">
                                    <div class="post-info">
                                        <h2><a class="main-color" href="@blog.Url-@blog.Id">@blog.Title</a></h2>
                                        @*<ul class="post-meta">
                                            <li class="meta-user"><i class="fa fa-user"></i>By: <a href="#">John Martin</a></li>
                                            <li><i class="fa fa-folder-open"></i>Category: <a href="#">Corporate News</a></li>
                                            <li class="meta-comments"><i class="fa fa-comments"></i>Comments: <a href="blog-single.html">5</a></li>
                                        </ul>*@
                                    </div>
                                </div>
                                <p>
                                    @blog.Spot
                                    <a class="read-more" href="@blog.Url-@blog.Id">
                                        Devamı
                                    </a>
                                </p>
                            </article>
                        </div>
                    }

                    <div class="pager skew-25">
                        <ul>
                            <li><a class="skew25" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="selected"><span class="skew25">1</span></li>
                            <li><a class="skew25" href="#">2</a></li>
                            <li><a class="skew25" href="#">3</a></li>
                            <li><a class="skew25" href="#">4</a></li>
                            <li><a class="skew25" href="#">5</a></li>
                            <li><span class="skew25">...</span></li>
                            <li><a class="skew25" href="#">10</a></li>
                            <li><a class="skew25" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- Content End -->
