@using YDev.Common.Models
@using YDev.Common.Helper
@{

    List<Category> categories = ViewData["Categories"] as List<Category>;
    List<MenuObject> menuObject = ViewData["MenuObject"] as List<MenuObject>;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content='@ViewData["Title"]'>
    <meta name="author" content="İhtyiaç Evim">
    <meta name="title" content="İhtiyaç Evim">
    <meta name="url" content="www.ihtiyacevim.com.tr" />

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Put favicon.ico and apple-touch-icon(s).png in the images folder -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- CSS StyleSheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800&amp;amp;subset=latin,latin-ext">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/prettyPhoto.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="rs-plugin/css/settings.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/default.css">

</head>
<body>

    <!-- site preloader start -->
    <div class="page-loader">
        <div class="loader-in"></div>
    </div>
    <!-- site preloader end -->

    <div class="pageWrapper">

        <!-- Header Start -->
        <div id="headWrapper" class="clearfix">

            <!-- top bar start -->
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="cell-5">
                            <ul>
                                <li><span>Hayal nereye İhtiyaç Oraya...</span></li>
                            </ul>
                        </div>
                        <div class="cell-7 right-bar">
                            <ul class="right">

                                <li><a href="#"><i class="fa fa-envelope"></i>bilgi@ihtiyacevim.com.tr</a></li>
                                <li><span><i class="fa fa-phone"></i>Bizi Arayın: +90 0542 524 20 90 </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- top bar end -->
            <!-- Logo, global navigation menu and search start -->
            <header class="top-head" data-sticky="true">
                <div class="container">
                    <div class="row">
                        <div class="logo cell-3">
                            <a href="/"></a>
                        </div>
                        <div class="cell-9 top-menu">

                            <!-- top navigation menu start -->
                            <nav class="top-nav">
                                <ul>
                                    @foreach (var item in menuObject)
                                    {
                                        <li>

                                            @if (item.Children != null)
                                            {
                                                <a href="#"><span>@categories.FirstOrDefault(f => f.Id == item.Id).Name</span></a>
                                                <ul>
                                                    @foreach (var subItem in item.Children)
                                                    {
                                                        <li>

                                                            @if (subItem.Children != null)
                                                            {
                                                                <a href="#">@categories.FirstOrDefault(f => f.Id == subItem.Id).Name</a>
                                                                <ul>
                                                                    @foreach (var subItem1 in subItem.Children)
                                                                    {
                                                                        <li>
                                                                            <a href="@categories.FirstOrDefault(f => f.Id == subItem1.Id).Link">@categories.FirstOrDefault(f => f.Id == subItem1.Id).Name</a>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            }
                                                            else
                                                            {
                                                                <a href="@categories.FirstOrDefault(f => f.Id == subItem.Id).Link">@categories.FirstOrDefault(f => f.Id == subItem.Id).Name</a>
                                                            }

                                                        </li>
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <a href="@categories.FirstOrDefault(f => f.Id == item.Id).Link"><span>@categories.FirstOrDefault(f => f.Id == item.Id).Name</span></a>
                                            }

                                        </li>

                                    }

                                </ul>
                            </nav>
                            <!-- top navigation menu end -->
                            <!-- top search start -->
                            <div class="top-search">
                                <a href="#"><span class="fa fa-search"></span></a>
                                <div class="search-box">
                                    <div class="input-box left">
                                        <input type="text" name="t" id="t-search" class="txt-box" placeHolder="Enter search keyword here..." />
                                    </div>
                                    <div class="left">
                                        <input type="submit" id="b-search" class="btn main-bg" value="GO" />
                                    </div>
                                </div>
                            </div>
                            <!-- top search end -->
                        </div>
                    </div>
                </div>
            </header>
            <!-- Logo, Global navigation menu and search end -->

        </div>
        <!-- Header End -->
        <!-- Content Start -->
        @RenderBody()
        <!-- Content End -->
        <!-- Footer start -->

        @await Component.InvokeAsync("FooterComponent")

        <div id="to-top" class="main-bg"><span class="fa fa-chevron-up"></span></div>

    </div>

    <!-- Load JS siles -->
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <!-- Waypoints script -->
    <script type="text/javascript" src="js/waypoints.min.js"></script>

    <!-- SLIDER REVOLUTION SCRIPTS  -->
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

    <!-- Animate numbers increment -->
    <script type="text/javascript" src="js/jquery.animateNumber.min.js"></script>

    <!-- slick slider carousel -->
    <script type="text/javascript" src="js/slick.min.js"></script>

    <!-- Animate numbers increment -->
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>

    <!-- PrettyPhoto script -->
    <script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>

    <!-- Share post plugin script -->
    <script type="text/javascript" src="js/jquery.sharrre.min.js"></script>

    <!-- Product images zoom plugin -->
    <script type="text/javascript" src="js/jquery.elevateZoom-3.0.8.min.js"></script>

    <!-- Input placeholder plugin -->
    <script type="text/javascript" src="js/jquery.placeholder.js"></script>

    <!-- MailChimp plugin -->
    <script type="text/javascript" src="js/mailChimp.js"></script>

    <!-- NiceScroll plugin -->
    <script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>

    <!-- general script file -->
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>