@using YDev.Common.Models
@using YDev.Common.Helper
@model List<Social>
@{
    ViewData["Title"] = "Sosyal Medya Bilgileri";
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    @ViewData["Title"]
                    <small>sosyal medya bilgileri ekle, düzenle</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->

        <div class="row">
            <div class="col-md-12">
                <div class="portlet box purple ">
                    <div class="portlet-body form">
                        <div class="form-horizontal">
                            <div class="form-body">
                                @foreach (var social in Model)
                                {
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><i class="fa fa-@social.SocialName.ToLink()"></i> @social.Url/ </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control socialAccount" data-url="@social.Url" data-name="@social.SocialName" 
                                                   data-id="@social.Id" value="@social.Account">
                                        </div>
                                    </div>
                                }

                            </div>
                            <div class="form-actions">
                                <button class="btn green" id="btn_saveSocial" style="float:right">Kaydet</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

@section scripts
{
    <script type="text/javascript" src="~/assets/custom/social.js"></script>
}