@using YDev.Common.Models
@using YDev.Common.Helper
@model List<Slider>
@{
    ViewData["Title"] = "İhtiyaç Evim - Tüm İhtiyaçlarınız için Faizsiz Çözümler";
    List<Slider> sliders = ViewData["Sliders"] as List<Slider>;
    List<Content> cozumler = ViewData["Cozumler"] as List<Content>;
    List<Content> bloglar = ViewData["Bloglar"] as List<Content>;
    List<MediaGallery> galleries = ViewData["Galeri"] as List<MediaGallery>;
}


    <div id="contentWrapper">

        <!-- Revolution slider start -->

        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>
                    @foreach (var slide in sliders)
                    {
                    <li data-slotamount="7" data-transition="random" data-masterspeed="@slide.Time" data-saveperformance="on">
                        <img alt="" src="images/slider/dummy.png" data-lazyload="@slide.MediaUrl">
                      
                        <div class="caption sfl large-desc witTxt tp-resizeme extraLargeFont rs-parallaxlevel-0"
                             data-x="7" data-y="300" data-speed="600" data-start="2400" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;">
                            @Html.Raw(slide.Content)
                        </div>
                    </li>
                    }

                </ul>
            </div>
        </div>
        <!-- Revolution slider end -->
        <!-- Welcome Box start -->
        @*<div class="welcome">
            <div class="container">
                <h3 class="center block-head"><span class="main-color">Welcome To EXCEPTION</span> - Business HTML Template</h3>
                <p class="margin-bottom-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque imperdiet purus quis metus imperdiet fermentum. Suspendisse hendrerit id lacus id lobortis. Vestibulum quam elit, dapibus hendrerit id lacus id lobortis. Vestibulum quam elit, dapibus ac augue ut.</p>
            </div>
        </div>*@
        <!-- Welcome Box end -->
        <!-- Services boxes style 2 -->
        <div class="sectionWrapper">
            <div class="container">
                <h3 class="block-head">Çözümler & Modeller </h3>
                <div class="row padd-top-25">
                    @foreach (var item in cozumler)
                    {
                        <div class="cell-3 service-box-2 fx" data-animate="fadeInDown">
                            <div class="box-2-cont">
                                <i class="fa fa-check-square-o"></i>
                                <h4>@item.Title</h4>
                                @*<div class="center sub-title main-color">sub title</div>*@
                                <p class="mediumFont">@item.Spot</p>
                                <a class="r-more main-color" href="@item.Url-@item.Id">Devamı</a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

        <!-- Recent Portfolio projects -->
        <div class="sectionWrapper">
            <div class="container">
                <h3 class="block-head">Galeriler</h3>
                <div class="portfolioGallery portfolio">
                    @foreach (var item in galleries)
                    {
                        
                        <div>
                            <div class="portfolio-item">
                                        <div class="img-holder">
                                            @if (item.MediaUrl.Contains("youtube"))
                                            {
                                                string dataYoutube = item.MediaUrl.Split("v=")[1];
                                                <div class="img-over">
                                                    <a href="@item.MediaUrl" class="fx link"><b class="fa fa-link"></b></a>
                                                    <a href="https://www.youtube.com/embed/@dataYoutube?iframe=true&width=100%&height=100%"
                                                        title="@item.MediaContent"
                                                        class="fx zoom"
                                                        data-gal="prettyPhoto[@item.GalleryId]"
                                                        poster="https://img.youtube.com/vi/@dataYoutube/0.jpg"><b class="fa fa-search-plus"></b></a>
                                                </div>
                                                <img src="https://img.youtube.com/vi/@dataYoutube/0.jpg" alt="@item.MediaContent">


                                            }
                                            else
                                            {
                                                <div class="img-over">
                                                    <a href="@item.MediaUrl" class="fx link"><b class="fa fa-link"></b></a>
                                                    <a href="@item.MediaUrl" class="fx zoom" data-gal="prettyPhoto[@item.GalleryId]"
                                                        title="@item.MediaContent"><b class="fa fa-search-plus"></b></a>
                                                </div>
                                                <img alt="" src="@item.MediaUrl">
                                            }

                                        </div>
                                        <div class="name-holder">
                                            <a href="#" class="project-name">@item.MediaContent</a>
                                            <span class="project-options">"@item.MediaContent"</span>
                                        </div>
                                    </div>
                        </div>

                    }

                </div>
                <div class="clearfix"></div>
                <div class="view-all-projects"><a href="galeri">Tümünü Görüntüle</a></div>
            </div>
        </div>


        <!-- Portfolio start -->
        <div class="sectionWrapper">
            <div class="container">
                <div class="row">
                    <div class="cell-3">
                        <h3 class="block-head side-heading">Haberler <span>Bloglar</span></h3>
                        <p class="portfolio-lft-txt">Sizler için derlediğimiz Bizden haberlere ve blog yazılarımıza buradan ulaşabilirsiniz.</p>
                        <div class="viewAll">
                            <a class="view-all-projects" href="blog">Tümünü Görüntüle</a>
                        </div>
                    </div>
                    <div class="cell-9">
                        <div class="homeGallery portfolio">
                            <!-- staff item start -->
                            @foreach (var blog in bloglar)
                            {
                                <div>
                                    <div class="portfolio-item">
                                        <div class="img-holder">
                                            <div class="img-over">
                                                <a href="@blog.Url-@blog.Id" class="fx link"><b class="fa fa-link"></b></a>
                                                <a href="@(string.IsNullOrEmpty(blog.CoverImage) ? "images/ihtiyac_640x426.jpg" : blog.CoverImage)" class="fx zoom" data-gal="prettyPhoto[2]"
                                                   title="@blog.Title">
                                                    <b class="fa fa-search-plus"></b>
                                                </a>
                                            </div>
                                            <img alt="" src="@(string.IsNullOrEmpty(blog.CoverImage) ? "images/ihtiyac_640x426.jpg" : blog.CoverImage)">
                                        </div>
                                        <div class="name-holder">
                                            <a href="#" class="project-name">@blog.Title</a>
                                        </div>
                                    </div>
                                </div>
                            }

                            <!-- staff item end -->

                        </div><!-- .portfolioGallery end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio end -->

    </div>