@using YDev.Common.Models
@model Slider

@{
    ViewData["Title"] = Model.Id == 0 ? "Slider Ekle" : "Slider Düzenle";
    List<Media> files = ViewData["Files"] as List<Media>;
}

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>
                    @ViewData["Title"]
                    <small>Slider ekle, düzenle</small>
                </h1>
            </div>
            <!-- END PAGE TITLE -->
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div id="summernoteHtml" data-value="@Model.Content" hidden></div>
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-body">
                        <div class="row">

                            <div class="form-group col-md-6">
                                <label>Resim Seçiniz (1920x520)</label>
                                <select id="mediaUrl" class="form-control">
                                    <option value="" selected disabled>Seçiniz</option>
                                    @foreach (var item in files)
                                    {
                                        if (Model.MediaUrl == item.Url)
                                        {
                                            <option selected value="@item.Url">@item.Content (@item.Url)</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Url">@item.Content (@item.Url)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Küçük Resim Seçiniz (375x350)</label>
                                <select id="tinyMediaUrl" class="form-control">
                                    <option value="" selected disabled>Seçiniz</option>
                                    @foreach (var item in files)
                                    {
                                        if (Model.TinyMediaUrl == item.Url)
                                        {
                                            <option selected value="@item.Url">@item.Content (@item.Url)</option>
                                        }
                                        else
                                        {
                                            <option value="@item.Url">@item.Content (@item.Url)</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Link</label>
                                <input type="text" value="@Model.Link" class="form-control" id="link" placeholder="tıklayınca açılacak sayfa">
                            </div>

                            <div class="form-group col-md-12">
                                <label>Açıklama</label>
                                <div data-html="@Model.Content" name="summernote" id="content"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Sıra</label>
                                <input value="@Model.Order" class="form-control spinner" type="number" id="order" placeholder="kaçıncı sırada gösterilecek" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Süre</label>
                                <input value="@Model.Time" class="form-control spinner" type="number" id="time" placeholder="kaç saniye gösterilecek" />
                            </div>

                            <div class="form-group col-md-12 right">
                                <a href="javascript:;" id="slider_kaydet" data-slider-id="@Model.Id" class="btn green">@(Model.Id == 0 ? "Kaydet" : "Güncelle")</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END SAMPLE FORM PORTLET-->
            </div>
        </div>

        <!-- END PAGE BASE CONTENT -->
    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->

@section scripts
{
    <script src="~/assets/custom/slider.js" type="text/javascript"></script>
}