@using YDev.Common.Models
@model List<Gallery>
@{
    ViewData["Title"] = "Galeriler";
    List<MediaGallery> mediaGalleries = ViewData["MediaGaleri"] as List<MediaGallery>;
    
    if (mediaGalleries == null)
    {
        mediaGalleries = new List<MediaGallery>();
    }
}

<!-- Content Start -->
    <div id="contentWrapper">
        <div class="page-title title-1">
            <div class="container">
                <div class="row" style="float:right">
                    <div class="cell-12">
                        <h1 class="fx" data-animate="fadeInLeft">Galeriler <span>Mutluluklar</span></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="sectionWrapper">
            <div class="container">
                <div id="portfolioGallery-filter" class="portfolio-filterable">
                    <div class="row">
                        <div class="gry-bg">
                            <span class="left filter-by">Filtrele:</span>
                            <ul id="filters">
                                @foreach (var item in Model)
                                {
                                    <li><a href="#" class="filter" data-filter="@item.Id">@item.Title</a></li>
                                }
                            </ul>
                        </div>
                        <div class="portfolio-items">
                            @foreach (var galeri in Model)
                            {
                                @foreach (var item in mediaGalleries?.Where(w => w.GalleryId == galeri.Id).ToList())
                                {
                                   
                                    <div class="cell-3" data-filter="@item.GalleryId">
                                        <div class="portfolio-item">
                                            <div class="img-holder">
                                                @if (item.MediaUrl.Contains("youtube"))
                                                {
                                                    string dataYoutube = item.MediaUrl.Split("v=")[1];
                                                    <div class="img-over">
                                                        <a href="@item.MediaUrl" class="fx link"><b class="fa fa-link"></b></a>
                                                        <a href="https://www.youtube.com/embed/@dataYoutube?iframe=true&width=100%&height=100%"
                                                            title="@item.MediaContent"
                                                            class="fx zoom"
                                                            data-gal="prettyPhoto[@item.GalleryId]"
                                                            poster="https://img.youtube.com/vi/@dataYoutube/0.jpg"><b class="fa fa-search-plus"></b></a>
                                                    </div>
                                                    <img src="https://img.youtube.com/vi/@dataYoutube/0.jpg" alt="@item.MediaContent">


                                                }
                                                else
                                                {
                                                    <div class="img-over">
                                                        <a href="@item.MediaUrl" class="fx link"><b class="fa fa-link"></b></a>
                                                        <a href="@item.MediaUrl" class="fx zoom" data-gal="prettyPhoto[@item.GalleryId]"
                                                            title="@item.MediaContent"><b class="fa fa-search-plus"></b></a>
                                                    </div>
                                                    <img alt="" src="@item.MediaUrl">
                                                }

                                            </div>
                                            <div class="name-holder">
                                                <a href="#" class="project-name">@item.MediaContent</a>
                                                <span class="project-options">"@galeri.Title"</span>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Content End -->
