@using YDev.Common.Models
@model Contact
@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<!-- Content Start -->
<div id="contentWrapper">
    <div class="page-title title-1">
        <div class="container">
            <div class="row" style="float:right">
                <div class="cell-12">
                    <h1 class="fx" data-animate="fadeInLeft">İletişim <span>Bilgileri</span></h1>
                </div>
            </div>
        </div>
    </div>

    <div class="padd-top-50">
        <div class="container">
            <div class="row">
                <div class="cell-7 contact-form fx" data-animate="fadeInLeft" id="contact">
                    <h3 class="block-head">Bize Yazın</h3>
                    <form class="form-signin cform" method="post" action="php/contact.php" id="cform" autocomplete="on">
                        <mark id="message" style="display: none;"></mark>
                        <div class="form-input">
                            <label>First name<span class="red">*</span></label>
                            <input type="text" required="required" name="name" id="name">
                        </div>
                        <div class="form-input">
                            <label>Email<span class="red">*</span></label>
                            <input name="email" type="email" id="email" required="required">
                        </div>
                        <div class="form-input">
                            <label>Phone</label>
                            <input name="phone" type="text" id="phone">
                        </div>
                        <div class="form-input">
                            <label>Message<span class="red">*</span></label>
                            <textarea required="required" name="message" cols="40" rows="7" id="messageTxt" spellcheck="true"></textarea>
                        </div>
                        <div class="form-input">
                            <input type="submit" class="btn btn-large main-bg" value="Submit">&nbsp;&nbsp;<input type="reset" class="btn btn-large" value="Reset" id="reset">
                        </div>
                    </form>
                </div>
                <div class="cell-5 contact-detalis">
                    <h3 class="block-head">İletişim Detayları</h3>
                    <p class="fx" data-animate="fadeInRight">Her türlü finans ihtiyaçlarınız için bizimle iletişime geçin.</p>
                    <hr class="hr-style4">
                    <div class="clearfix"></div>
                    <div class="padding-vertical">
                        <div class="cell-5 fx" data-animate="fadeInRight">
                            <h4 class="main-color bold">@Model.Name</h4>
                            <h5>Adres:</h5>
                            <p>@Model.Address @Model.Town/@Model.City/@Model.Country</p>
                            <h5>Email:</h5>
                            <p>@Model.EMail</p>
                            <h5>Telefon:</h5>
                            <p>@Model.Phone</p>
                            <h5>FAX:</h5>
                            <p>@Model.Fax</p>
                        </div>
                        <div class="cell-2"><br></div>
                        @*<div class="cell-5 fx" data-animate="fadeInRight">
                            <h4 class="main-color bold">Office: Australia</h4>
                            <h5>Address:</h5>
                            <p>123, Second Sunrise Avenue New York,USA</p>
                            <h5>Email:</h5>
                            <p>info@it-rays.com</p>
                            <h5>Phone:</h5>
                            <p>+2 012 000 0000</p>
                            <h5>FAX:</h5>
                            <p>+2 012 000 0001</p>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<div class="padd-vertical-45">
        <div class="container">
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
            <div id="map_canvas" style="height: 450px; width: 100%;">
                <script type="text/javascript">

						    	function init_map(){
						    		var myOptions = {zoom:14,center:new google.maps.LatLng(40.805478,-73.96522499999998),
						    		mapTypeId: google.maps.MapTypeId.ROADMAP};
						    		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
						    		marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(40.805478, -73.96522499999998)});
						    		infowindow = new google.maps.InfoWindow({content:"<div class='noScroll'><b>Headquarter</b><br/>2880 Broadway<br/> New York</div>" });
						    		google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});
						    		infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);
                </script>
            </div>
        </div>
    </div>*@
</div>
<!-- Content End -->